.box_l{float:left; width:870px;}
.box_r{float:right; width:300px;}
.g_box{background:#f8f8f8; border:1px solid #dcdcdc; line-height:60px; padding-left:20px; font-size:12px; color:#666; border-top:2px solid #ff8408; display:inherit}
.g_lm_box{background:#f8f8f8; border:1px solid #dcdcdc; line-height:60px; padding-left:20px; font-size:18px; color:#666; border-top:2px solid #ff8408; display:inherit;font-family:Microsoft Yahei, 微软雅黑;}
.g_guide{float:left; line-height:50px; color:#888; font-size:12px; width:100%;}
.g_guide a{color: #415b9c; text-decoration:none;}
.box_l li{float:left;display:inherit; padding:20px 25px 25px; border-bottom:1px dashed #c9c9c9;}
.box_l li span.tit{float:left; width:80%; font-size:21px; color:#333; line-height:42px;font-family:Microsoft Yahei, 微软雅黑;}
.box_l li span.tit a{ color:#333; text-decoration:none;}
.box_l li span.tit a:hover{text-decoration:underline;}
.box_l li span.lmlb{float:right; width:12px; text-align:right; width:15%; color:#888; line-height:38px;}
.box_l li p{width:100%; font-size:14px; color:#666; line-height:24px; float:left}
.box_l li p a{color: #415b9c; text-decoration:underline;}
.box_l li span.time{float:left; color:#888;}
.box_l .l_top{width:100%; border-bottom:1px solid #dcdcdc; text-align:center; line-height:30px; font-size:12px; color:#888; position:relative; padding-bottom:18px;}
.box_l .l_top h1{font-size:21px; color:#333;font-family:Microsoft Yahei, 微软雅黑; line-height:36px}
.box_l .l_top ol{position:absolute; right:0; bottom:0;width:160px; }
.box_l .l_con{border-bottom:1px solid #ccc; padding:20px; display:inherit; font-size:14px;}
.last_img{ text-align:center; text-indent:0; float:none !important;}
.box_l .l_con p{text-indent:2em;line-height: 24px; padding: 8px 0;word-break: normal;}
.box_l .l_ls{ line-height:24px; font-size:14px;}
.box_l .l_ls p{padding:20px;}
.box_l .l_ls a{color: #415b9c; text-decoration: none;}
.page{width:100%; text-align:center; line-height:32px; margin-top:20px;}
.page a{border:1px solid #dedede; margin-right:8px; padding:8px 12px;font-size:14px;}
.page a:hover{background:#f8f8f8;}
.page a.choose{background:#ff8408; color:#fff; font-weight:bold; border:1px solid #ff8408;}
.box_r .r_gg{float:left; width:300px; height:100px; margin-bottom:15px;}
.box_r .r_gg img{ width:300px; height:100px;}
.box_r .r_n_box{float:left; width:298px; border:1px solid #dcdcdc; border-top:2px solid #c8020a; padding-bottom:10px;}
.box_r .r_n_box h1{font-size:16px; font-weight:bold; line-height:36px; color:#333; padding-left:15px; padding-top:10px}
.box_r .r_n_box ul{width:93%; padding:10px;}
.box_r .r_n_box ul.zt li{float:left; background:url("../images/gz_bg.jpg") no-repeat 2px 12px;color: #415b9c; font-size: 14px; line-height:30px; padding:0 0 0 10px; width:95%; border:0;}
.box_r .r_n_box ul.zt li a{color: #415b9c; text-decoration:none;}
.box_r .r_n_box ul.zt li a:hover{text-decoration:underline;}
.box_r .r_n_box ul.ph li{float:left; color: #415b9c; display: inline-block;font-size: 14px; line-height:30px; padding-left:5px;}
.box_r .r_n_box ul.ph li a{color: #415b9c; text-decoration:none;}
.box_r .r_n_box ul.ph li a:hover{text-decoration:underline;}
.box_r .r_n_box ul.ph li em.num3{background:#ff8408; width:24px; height:24px; font-weight:bold; color:#fff; text-align:center; line-height:24px; float:left; margin:3px 6px 0 0}
.box_r .r_n_box ul.ph li em.num4{background:#cfcfcf; width:24px; height:24px; font-weight:bold; color:#fff; text-align:center; line-height:24px;float:left; margin:3px 6px 0 0}

.footer_c{width:1200px; margin:0 auto; overflow:hidden; text-align:center; line-height:21px;font-size:12px; color:#888; font-family:微软雅黑;}
.footer_c a{font-size:12px; color:#666; font-family:微软雅黑;}
.footer_c a:hover{color:#333;}

/* 找仓库 */

.gc_lb_list{ position:relative; padding-bottom:10px; overflow:hidden; height:256px; width:100%; border:1px solid #ddd; margin-bottom:12px; border-top:2px solid #ff8408;}
.show_more{ height:30px; line-height:30px; cursor:pointer; background:url(../images/b_sj2_1.png) no-repeat 124px 13px #fff; font-size:12px; font-family:"微软雅黑"; text-align:center; color:#666; position:absolute; border:1px solid #ddd; width:150px; left:350px; bottom:-1px;}
.hide_more{ height:30px; line-height:30px; cursor:pointer; background:url(../images/b_sj_1.png) no-repeat 124px 13px #fff; font-size:12px; font-family:"微软雅黑"; text-align:center; color:#666; position:absolute; border:1px solid #ddd; width:150px; left:350px; bottom:-1px;}
.show_more:hover{background:url(../images/b_sj2.png) no-repeat 124px 13px #eee;}
.hide_more:hover{background:url(../images/b_sj.png) no-repeat 124px 13px #eee;}
.clear_tj{ width:68px; color:#666; height:38px; line-height:38px; position:absolute; right:0px; top:5px; cursor:pointer; text-decoration:underline; text-align:left;}
.z_seaceh{float:left; width:97%; border:1px solid #ddd; background:#f8f8f8; height:30px; padding:6px 13px; color:#666;}
.z_seaceh input.text{background:#fff; height:24px; border:1px solid #ddd; padding:2px 6px; color:#666; width:300px;vertical-align:top; line-height:24px;}
.z_seaceh input.btn{ background:#d71616; color:#fff; text-align:center; width:90px; line-height:28px; border:0; cursor:pointer; font-weight:bold; font-size:13px;}
.box_l ul{width:101%;}
li.zck{float:left;display:inherit; padding:20px 12px 25px 15px; border:1px solid #ddd;width: 96%; margin-top:12px;}
li.zck span.tit{float:left; width:60%; font-size:18px; color:#333; line-height:42px;font-family:Microsoft Yahei, 微软雅黑; margin-left:18px; _margin-left:9px;}
li.zck span.tit a{ color:#333; text-decoration:none;}
li.zck span.tit a:hover{text-decoration:underline;}
li.zck span.lmlb{float:right; width:12px; text-align:right; width:10%; color:#888; line-height:38px;}
li.zck p{width:69%; font-size:14px; color:#666; line-height:24px; float:left; background:#f8f8f8; border:1px solid #ddd; margin-left:18px; _margin-left:9px;padding:8px;}
li.zck p a{color: #415b9c; text-decoration:underline;}
li.zck span.time{float:right; color:#888; margin-top:18px}
li.zck span.pic{float:left; width:220px; height:165px;}
li.zck span.jiage{float:left; color:#666; margin-top:10px; font-size:16px; height:21px; overflow:hidden; line-height:21px; border-right:1px solid #ddd; padding-right:15px; padding-left:50px;}
li.zck span.jiage b{font-size:21px; color:#d71616;font-family:Microsoft Yahei, 微软雅黑;}
li.zck span.mianji{float:left; color:#666; margin-top:10px; font-size:16px; line-height:16px; padding-left:18px; padding-top:5px}
li.zck em{width:51px; height:18px; float:left; margin-top:12px}
.r_z_box{float:left; width:298px; border:1px solid #dcdcdc; border-top:2px solid #c8020a; padding-bottom:10px; background:#f8f8f8;}
.r_z_box h1{font-size:16px; font-weight:bold; line-height:36px; color:#333; padding-left:15px; padding-top:10px}
dl.tjck{padding:0px; background:#fff; border:1px solid #ddd; float:left; margin-left:9px; _margin-left:5px;width:278px;}
dl.tjck dt{width:278px; text-align:center; font-size:15px; line-height:32px; float:left}
dl.tjck dt img{width:278px;}
dl.tjck dd{line-height:30px; height:30px; color:#666; font-size:14px; float:left}
dl.tjck dd.dz{width:258px; border-bottom:1px solid #ddd; padding-left:20px;}
dl.tjck dd.mj{width:40%; border-right:1px solid #ddd; padding-left:20px;}
dl.tjck dd.jg{width:40%; padding-left:20px;}

.select-result{width:98%;}
.select{width:98%;margin:1% auto;font-size:14px; float:left;}
.select li{list-style:none;padding:10px 0 5px 100px; width:88%;}
.select .select-list{border-bottom:#eee 0px dashed}
.select dl{zoom:1;position:relative;line-height:24px;}
.select dl:after{content:" ";display:block;clear:both;height:0;overflow:hidden}
.select dt{width:100px;margin-bottom:5px;position:absolute;top:0;left:-100px;text-align:right;color:#666;height:24px;line-height:24px}
.select dd{float:left;display:inline;margin:0 0 5px 5px;}
.select dd select{width:100px; height:20px;}
.select em{float:left;display:inline;margin:0 0 5px 5px; font-size:12px; color:#415b9c;}
.select a{display:inline-block;white-space:nowrap;height:24px;padding:0 10px;text-decoration:none;color:#333;border-radius:2px;}
.select a:hover{color:#c8020a;background-color:#f3edc2}
.select .selected a{color:#fff;background-color:#c8020a}
.select-result dt{font-weight:bold}
.select-no{color:#999}
.select .select-result a{padding-right:20px;background:#c8020a url("close.gif") right 9px no-repeat}
.select .select-result a:hover{background-position:right -15px}
.b_b_da{border-bottom:1px dashed #ddd !important;}

/* 求租 */
li.qz{float:left;display:inherit; border:1px solid #ddd;width: 99%; margin-top:12px; padding:0}
li.qz h1{float:left; width:99%; font-size:16px; color:#333; line-height:36px;font-family:Microsoft Yahei, 微软雅黑; padding-left:1%; background:#f8f8f8;}
li.qz .qz_con{float:left; text-align:left; width:96%; color:#888; line-height:38px; padding:1% 2%;}
li.qz .qz_con p{width:90%; color:#666; line-height:24px; float:left; padding:6px; font-size:12px;}
li.qz .qz_con p.sm{width:98%; color:#666; line-height:30px; float:left; background:#f8f8f8; font-size:14px; padding-left:12px}
li.qz .qz_con dl.xq{border-top:1px dotted #ccc; border-bottom:1px dotted #ccc; padding:8px; width:98%; float:left;}
li.qz .qz_con dl.xq dt{border-right:1px solid #ddd; height:16px; line-height:16px; margin:4px 10px; width:150px; padding-left:30px; float:left;}
li.qz .qz_con dl.xq b{color:#d71616;}
li.qz .qz_con span.lxfs{float:left; font-size:14px; width:50%; color:#666;}
li.qz .qz_con span.lxfs i{color:#333;}
.tgc_btn{background:#d71616; color:#fff !important; text-align:center; line-height:18px; font-size:14px; padding:6px 30px; cursor:pointer; float:left;}
li.qz .qz_con span.time{float:right; width:100px; line-height:14px; color:#888;}

.l_z_top{background:#fff; border:1px solid #dcdcdc; line-height:30px; padding:20px 0 20px 26px; font-size:14px; color:#666;display:inherit; float:left; width:97%;}
.l_z_top h1{font-size:18px; font-weight:bold; line-height:36px; color:#333; padding-left:2px; padding-bottom:10px;font-family:Microsoft Yahei, 微软雅黑; line-height:42px;}
.l_z_tr{float:right;border:1px solid #dcdcdc; border-right:0; font-size:15px; color:#666; padding-top:20px; line-height:36px; width:432px; padding-bottom:20px;}
.l_z_tr p{float:left; padding-left:20px; width:90%;}
.l_z_tr p i{font-size:12px;}
.l_z_tr p.ico{height:30px;}
.l_z_tr em{float:left; background:#f8f8f8; border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc; height:65px; line-height:60px; padding-left:20px; width:412px}
.l_z_tr em b{font-size:21px; color:#d71616;font-family:Microsoft Yahei, 微软雅黑;}
input.buy{width:390px; height:60px; text-align:center; font-size:24px; color:#fff; float:left; margin:15px 0 0 20px; background:#d71616; border:0;font-family:Microsoft Yahei, 微软雅黑; cursor:pointer;}
.con_box{float:left;background:#fff; border:1px solid #dcdcdc; line-height:30px;font-size:14px; color:#666;display:inherit; float:left; width:870px;}
.con_box h2{float:left; width:850px; padding-left:20px; line-height:42px; padding-top:4px;font-size:21px; color:#333;font-family:Microsoft Yahei, 微软雅黑; background:#f8f8f8;border-bottom:1px solid #dcdcdc;}
.con_box table{width:98%; padding:20px; border-bottom:1px solid #ddd; line-height:35px;font-size:14px; float:left;}
.con_box table th{color:#888; text-align:right;}.con_box table td{color:#333;}
a.dt_btn{ padding:7px 30px;color:#fff; cursor:pointer; background:#ff8408; font-size:15px;}
.con_box span.xx1{ background:url(../images/xx_bg.jpg) no-repeat 0 -20; width:99px; height:20px;}
.con_box span.xx2{ background:url(../images/xx_bg.jpg) no-repeat 0 -40; width:99px; height:20px;}
.con_box span.xx3{ background:url(../images/xx_bg.jpg) no-repeat 0 -60; width:99px; height:20px;}
.con_box span.xx4{ background:url(../images/xx_bg.jpg) no-repeat 0 -80; width:99px; height:20px;}
.con_box span.xx5{ background:url(../images/xx_bg.jpg) no-repeat 0 -100; width:99px; height:20px;}
.con_box p{padding:20px; line-height:32px;font-size:14px; co#666; float:left;}
.con_box p img{margin: 12px auto 0; width:700px;}
.con_box .lxbox{ border:1px solid #ddd; background:#fdfce3; height:60px; line-height:60px; color:#333; font-size:16px; width:96%; margin:0 auto;}
.con_box .lxbox em{width:43%; float:left; padding-left:30px;}


/* 帮助中心 */
.about_box_l{float:left; width:205px; _width:198px;border:1px solid #eee; border-right:6px solid #e3e3e3; background:#f3f3f3;}
.about_box_l li{width:194px; _width:188px;padding-left:18px; height:60px; border-bottom:1px dotted #ddd; line-height:64px; font-size:15px; color:#333;font-family:微软雅黑;}
.about_box_l li.on{background:url(../images/about.png) no-repeat right center #c60d0d; color:#fff;}
.about_box_r{float:left; width:987px; background:url(../images/a_center_bg.jpg) repeat-y; margin-bottom:10px;}
.about_box_r .top_bg{float:left; width:100%; background:url(../images/a_top_bg.jpg) no-repeat; height:50px;}
.about_box_r .bottom_bg{float:left; width:100%; background:url(../images/a_bottom_bg.jpg) no-repeat; height:40px;}
.about_box_r .content{float:left; width:86%; line-height:30px; color:#666; text-indent:2em; min-height:500px; padding:0 60px;}
.about_box_r .content .con{ display:none}
.about_box_r .content .on{ display:block}
.about_box_r .content .con .tit{border-bottom:2px solid #ddd; height:40px;}
.about_box_r .content .con .tit h1{border-bottom:2px solid #ff8408; height:40px; font-size:18px;font-family:微软雅黑; width:120px; line-height:32px;}
.about_box_r .content .con li{border-bottom:1px dashed #ccc; line-height:45px; width:100%;}
.about_box_r .content .con li a:hover{text-decoration:underline;}
.about_box_r .content .con h1{font-size:18px; color:#333; line-height:50px; border-bottom:1px solid #ddd;font-family:微软雅黑; margin-bottom:20px;}
.about_box_r .content .con p{font-size:14px; text-indent:2em;}
.list_banner_img{background-repeat:no-repeat; background-position:center; height:200px;}
.q_wordpress{ margin-left:6px; _margin-left:3px; padding-left:26px; background:url(../images/d_car_step_wordpress.png) no-repeat left center; line-height:42px;}
.wtbox{float:left; width:88%; margin-left:10px; _margin-left:5px; padding-bottom:12px;}
.wtbox h1{float:left; width:101%; border-bottom:3px solid #ff8408; line-height:36px; color:#333;font-family:微软雅黑;}
.wtbox dl{background:#fff; border:1px solid #ddd; width:100%; line-height:24px;float:left; padding-top:8px; padding-bottom:10px;}
.wtbox dl dt{float:left; padding-left:13px;background:url("../images/gz_bg.jpg") no-repeat 4px 12px;color: #415b9c; font-size: 12px; width:92%; border:0; line-height:28px;}
.wtbox dl dt a{color:#666; text-decoration:none;}
.wtbox dl dt a:hover{color:#666; text-decoration:underline;}


/* 发布仓源 */
.add_box{background:#fff; border:1px solid #dcdcdc; line-height:30px; padding:20px 30px 20px 30px; font-size:14px; color:#666;display:inherit; float:left; width:1138px}
.titzc{border-bottom:2px solid #ddd; height:40px;}
.titzc h1{border-bottom:2px solid #ff8408; height:40px; font-size:18px;font-family:微软雅黑; width:120px; line-height:32px;}
.add_con{margin:40px;}
.add_con input.text{background:#fff; height:32px; border:1px solid #ddd; padding:2px 6px; color:#666; width:300px; line-height:32px;vertical-align:middle;}
.add_con input.text:hover{border:1px solid #ff8408;}
.add_con input.big_are{background:#fff; height:32px; border:1px solid #ddd; padding:2px 6px; color:#666; width:700px; line-height:32px;}
.add_con input.big_are:hover{border:1px solid #ff8408;}
.add_con th{padding-right:10px; font-weight:200; color:#333; text-align:right; line-height:52px;}
.add_con td img.nopic{float:left; width:200px; height:150px; margin-right:10px; margin-top:10px; margin-bottom:10px;}
.add_box textarea{width:700px; height:120px;border:1px solid #dcdcdc; padding:5px; color:#666;}
input.big_btn{ background:#ff8408; color:#fff; text-align:center; width:280px; line-height:36px; border:1px solid #ab6501; cursor:pointer; font-weight:bold; font-size:16px; border-radius:6px;font-family:微软雅黑; line-height:36px;}
input.big_btn_g{ background:url(../images/btn_bg.gif) 0 -1px; color:#333; text-align:center; width:320px; line-height:33px; border:0; cursor:pointer; font-weight:bold; font-size:14px; border-radius:2px;font-family:微软雅黑; border:1px solid #ddd; line-height:33px;}
input.big_btn_r{ background:#d71616; color:#fff; text-align:center; width:auto; line-height:30px; border:1px solid #bd0404; cursor:pointer; font-weight:bold; font-size:16px; border-radius:6px;font-family:微软雅黑; padding:0px 40px; line-height:30px;}
.w60{width:60px !important;} .w90{width:90px !important}.w106{width:106px !important;}.w120{width:120px !important;}
.else_box{background:#fff; border:1px solid #dcdcdc; line-height:30px;  font-size:14px; color:#666;display:inherit; float:left; width:1138px; overflow:hidden; position:relative; cursor:pointer;}
.else_box h1{border-bottom:1px solid #dcdcdc; height:36px; font-size:15px;font-family:微软雅黑; width:1650px; line-height:36px; padding-left:20px; background:#f8f8f8;}
.else_box h1 span{font-size:13px; padding-right:20px; }
.show{ font-size:13px; padding-right:20px; background:url(../images/b_sj2_1.png) right center no-repeat;}
.hide{ height:30px; line-height:30px; cursor:pointer; background:url(../images/b_sj_1.png) 140px center no-repeat; font-size:12px; font-family:"微软雅黑"; text-align:center; color:#666; position:absolute; border:1px solid #ddd; width:140px; left:500px; bottom:-1px;}
.add_box .add_con{margin:40px;}